.tv9-dashboard {
  font-family: "Georama", sans-serif;
  padding: 0 10px;
  box-sizing: border-box;
}
.tv9-dashboard .container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
.tv9-dashboard .container h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  margin: 0 0 20px 0;
}
.tv9-dashboard .container p {
  font-size: 16px;
  /* margin: 0 0 25px 0; */
}

.dash-intro p {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.horstackchart {
  margin-bottom: 20px;
  position: relative;
}

.horbarchart {
  margin-bottom: 10px;
  margin-top: 45px;
}

.block {
  /* transition: all 0.3s; */
  cursor: pointer;
  width: 0;
}

.block:hover {
  background-color: #ccc !important;
}

.yearwisefilters {
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 0 0 0;
}

.filterBtns {
  background-color: #a5a5a5;
  padding: 6px 10px;
  border-radius: 12px;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  outline: none;
  border: none;
  display: inline-block;
  margin-right: 10px;
  color: #fff;
}
.filterBtns.active {
  background-color: #000000;
}
.filterBtns:last-child {
  margin-right: 0;
}

.map svg {
  width: 100%;
}

.card-body {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 10px;
}

.card-body .point {
  display: flex;
  column-gap: 10px;
  padding: 10px 10px;
  align-items: flex-start;
  margin-bottom: 20px;
}
.card-body .point:first-child {
  background-color: #adadad;
  border-radius: 5px;
}
.card-body .point:nth-child(4) {
  background-color: #eaeaea;
  border-radius: 5px;
}

.card-body .point:nth-child(2),
.card-body .point:nth-child(3) {
  border-top: 5px solid #ccc;
}

.card-body .point-content {
  text-align: left;
}
.card-body .point-content p {
  margin: 0 0 0 0;
  text-transform: uppercase;
  font-size: 14px;
}
.point-content span {
  font-size: 22px;
}
.card-body .point:nth-child(2) .point-content p:first-child,
.card-body .point:nth-child(3) .point-content p:first-child {
  color: red;
}

.map-tooltip {
  text-align: left;
  font-family: "Georama", sans-serif;
}

.map-tooltip::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 8px;
  background-color: black;
  top: 28px;
  left: -30px;
}

.tooltip-header p {
  display: inline-block;
  font-size: 15px !important;
  padding: 5px 10px;
  margin: 0 0 0 0;
}
.tooltip-content {
  background-color: #000000;
  width: fit-content;
  padding: 10px;
}
.tooltip-content .datapoint {
  display: inline-block;
  font-size: 21px;
  padding: 5px 10px;
  color: #fff;
  font-weight: 700;
  border-left: 1px solid #fff;
}
.tooltip-content .datapoint:first-child {
  border-left: none;
}
.tooltip-content .datapoint p {
  margin: 0;
  font-size: 21px;
  font-weight: 700;
}
.tooltip-header p:first-child {
  background-color: #978282;
}
.tooltip-header p:last-child {
  background-color: #a1cdca;
}
.gotoLink {
  background-color: #378eaa;
  width: fit-content;
  padding: 5px 10px;
}
.gotoLink a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
.alliance-section {
  margin: 0 0 40px 0;
}
.alliance-section h2 {
  font-size: 11px;
  margin: 0 0 5px 0;
  text-transform: uppercase;
}
.alliance-list {
  list-style: none;
  text-align: center;
  font-size: 11px;
  padding: 0;
  margin: 0;
}
.map path:hover {
  fill: #000000;
}

@media (max-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}
@media (min-width: 768px) {
  /* landscape tablets, landscape iPad, lo-res laptops ands desktops */
  .card-body {
    grid-template-columns: 100%;
  }
  .barchart-section {
    display: flex;
    column-gap: 100px;
    align-items: center;
  }
  .map-section {
    display: flex;
    column-gap: 20px;
    align-items: flex-start;
    width: 95%;
    margin: 0 auto;
  }
  .map-section .col:first-child {
    width: 80%;
  }
  .map-section .col:last-child {
    width: 20%;
  }
  .horstackchart {
    width: 50%;
  }

  .horbarchart {
    margin-bottom: 10px;
    margin-top: 0px;
  }

  .yearwisefilters {
    margin: 0 0 30px 0;
  }

  .map-section {
    margin-left: -1%;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
